{% load url from future %}{% load xadmin_tags %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div id="login" style="display: none;"></div>
{% vendor 'jquery.js' %}
<script type="text/javascript">
    $(function () {
        $.get('/login/',function (data) {
            var csrfmiddlewaretoken,username,password;
            csrfmiddlewaretoken = $("#login").html(data).find('input[name="csrfmiddlewaretoken"]').val();
            username = "xieguanwen@gmail.com";
            password = "xie123xie";
            $.post('/login/',{"csrfmiddlewaretoken":csrfmiddlewaretoken,"username":username,"password":password},function (html) {
                console.log(html);
            });
        });
    });

</script>
</body>
</html>