{% load url from future %}{% load xadmin_tags %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div id="login" style="display: none;"></div>
{% vendor 'jquery.js' %}
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript">
    $(function () {
        if($.cookie("sessionid").length == 32){
            location.href = location.search;
        } else {
            $.get('/login/',function (data) {
                var csrfmiddlewaretoken,username,password,this_is_the_login_form,next;
                csrfmiddlewaretoken = $("#login").html(data).find('input[name="csrfmiddlewaretoken"]').val();
                username = "xieguanwen@gmail.com";
                password = "xie123xie";
                this_is_the_login_form = 1;
                next = "/";
                $.post('/login/',{"csrfmiddlewaretoken":csrfmiddlewaretoken,"username":username,"password":password,"this_is_the_login_form":this_is_the_login_form,"next":next},function (html) {
                    location.href = location.search;
                });
            });
        }

    });

</script>
</body>
</html>